---
---

@import "{{ site.theme }}";

p.date {
    font-style: italic;
    text-align: right;
}

body {
    max-width: 50em;
    margin: auto;
}

img {
    margin: auto;
    display: block;

    // Unspecified width
    &:not([width]) {
        // on desktop, 75%
        width: 85%;
        max-width: 100%;

        @media (max-width: 768px) {
            // mobile, full width
            width: 100%;
        }
    }

    /* captions */
    + em {
        text-align: center;
        display: block;
    }
}

video {
    margin: auto;
    display: block;
    margin-bottom: 16px;
}

img.img-right {
    width: 40%;
    float: right;
    padding-left: 1em;
}

.dark-mode {
    background-color: black;
    color: lightgray;
}

.dark-mode a {
    color: dodgerblue;
}